<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Mastery</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>
<body>
    <div class="container antialiased mx-auto">

        <header class="flex border-b p-2 items-center">
           
            <nav class="flex gap-2">
                <a class="hover:text-blue-500 tracking-tight" href="../../">
                    Home
                </a>
                <span>/</span>
                <a class="hover:text-blue-500 tracking-tight" href="../">
                    Components
                </a>
                <span>/</span>
                <a class="text-blue-500 font-medium tracking-tight" href="./">
                    Reviews
                </a>
            </nav>

        </header>
        
        <main class="flex flex-col p-5 gap-2">
            <h1 class="text-2xl">
                Reviews List
            </h1>

            <h2><a href="./interactive-review/" class="hover:text-blue-500">
                Interactive Review Component
            </a></h2>
        </main>
        
    </div>
</body>
</html>