<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Mastery</title>
    <link rel="stylesheet" href="../../../style.css">
    <link rel="shortcut icon" href="../../../images/favicon.svg" type="image/x-icon">
</head>
<body>
    <div class="container antialiased mx-auto">

        <header class="flex border-b p-2 items-center">
           
            <nav class="flex flex-wrap gap-2">
                <a class="hover:text-blue-500 tracking-tight" href="../../../">
                    Home
                </a>
                <span>/</span>
                <a class="hover:text-blue-500 tracking-tight" href="../../">
                    Components
                </a>
                <span>/</span>
                <a class="hover:text-blue-500 tracking-tight" href="../">
                    Cards
                </a>
                <span>/</span>
                <a class="text-blue-500 font-medium tracking-tight" href="./">
                    Four Card Feature Section
                </a>
            </nav>

        </header>

        <main class="flex flex-col items-center gap-5 py-5">

            <h1 class="font-serif md:text-2xl text-xl mx-4 text-center lining-nums">
                Four Card Feature Section
            </h1>

            <div class="flex flex-col bg-gray-100 md:p-10 md:rounded gap-10 p-3">

                <div class="flex flex-col items-center gap-2">
                    <h2 class="text-slate-400 tracking-tight text-2xl">
                        Realiable, efficient delivery
                    </h2>
                    <h2 class="text-slate-600 font-medium text-2xl">
                        Powered by Technology
                    </h2>
                    <p class="tracking-tight text-center text-slate-500 text-sm md:w-3/4 ">
                        Our Artificial Intelligence powered tools use millions of project data points to ensure that your project is successfull.
                    </p>
                </div>

                <div class="flex flex-wrap justify-center py-5 gap-4">

                    <div class="flex items-center w-72">

                        <div class="bg-white p-3 flex flex-col border-t-2 border-cyan-500 rounded gap-2">
                            <h2 class="text-slate-600 font-medium">
                                Supervisor
                            </h2>
                            <p class="text-sm text-slate-500">
                                Monitors acticity to identity project roadblocks.
                            </p>
                            <img src="icon-supervisor.svg" alt="supervisor" class="w-14 h-14 self-end mt-8">
                        </div>
                        
                    </div>

                    <div class="flex lg:flex-col flex-wrap justify-center gap-5 w-72">

                        <div class="bg-white p-3 flex flex-col border-t-2 border-red-500 rounded gap-2">
                            <h2 class="text-slate-600 font-medium">
                                Team Builder
                            </h2>
                            <p class="text-sm text-slate-500">
                                Scans our talent network to create the optimal team for your project.
                            </p>
                            <img src="icon-team-builder.svg" alt="icon-team-builder" class="w-14 h-14 self-end mt-8">
                        </div>

                        <div class="bg-white p-3 flex flex-col border-t-2 border-yellow-500 rounded gap-2">
                            <h2 class="text-slate-600 font-medium">
                                Karma
                            </h2>
                            <p class="text-sm text-slate-500">
                                Regularly evaluates our talent to ensure quality.
                            </p>
                            <img src="icon-karma.svg" alt="icon-karma" class="w-14 h-14 self-end mt-8">
                        </div>
                        
                    </div>

                    <div class="flex items-center w-72">

                        <div class="bg-white p-3 flex flex-col border-t-2 border-blue-500 rounded gap-2">
                            <h2 class="text-slate-600 font-medium">
                                Calculator
                            </h2>
                            <p class="text-sm text-slate-500">
                                Uses data from past projects to provide better delivery estimates.
                            </p>
                            <img src="icon-calculator.svg" alt="calculator" class="w-14 h-14 self-end mt-8">
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        
        </main>

        
    </div>
</body>
</html>