<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Mastery</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="../images/favicon.svg" type="image/x-icon">
</head>
<body>
    <div class="container antialiased mx-auto">
        
        <header class="flex border-b p-2 items-center">
           
            <nav class="flex gap-2">
                <a class="hover:text-blue-500 tracking-tight" href="../">
                    Home
                </a>
                <span>/</span>
                <a class="text-blue-500 font-medium tracking-tight" href="./">
                    Components
                </a>
            </nav>

        </header>

        <main class="flex flex-col p-5 gap-2">
            <h1 class="text-2xl">
                Components List
            </h1>

            <h2><a href="./cards/" class="hover:text-blue-500">
                Cards
            </a></h2>
            <h2><a href="./forms/" class="hover:text-blue-500">
                Forms
            </a></h2>
            <h2><a href="./landings/" class="hover:text-blue-500">
                Landing Pages
            </a></h2>
            <h2><a href="./notifications/" class="hover:text-blue-500">
                Notifications
            </a></h2>
            <h2><a href="./panels/" class="hover:text-blue-500">
                Admin Panels
            </a></h2>
            <h2><a href="./profiles/" class="hover:text-blue-500">
                Profiles
            </a></h2>
            <h2><a href="./reviews/" class="hover:text-blue-500">
                Reviews
            </a></h2>
            <h2><a href="./accordians/" class="hover:text-blue-500">
                Accordians
            </a></h2>
            <h2><a href="./articles/" class="hover:text-blue-500">
                Articles
            </a></h2>

        </main>
        
    </div>
</body>
</html>