<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Mastery</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>
<body>
    <div class="container antialiased mx-auto">

        <header class="flex justify-between border-b p-2 items-center">

            <nav class="flex gap-2 items-center">
                <a href="/">
                    <img src="/images/logo.jpg" alt="Logo" class="h-14 w-14 object-cover rounded-full">
                </a>
                <a href="/" class="text-xl text-blue-500 hover:text-emerald-500 tracking-tight">Tailwind Mastery</a>
            </nav>
            
            <nav class="flex gap-2">
                <a href="/components" class="hover:text-blue-500 font tracking-tight">Components</a>
            </nav>
        </header>

        <header class="flex border-b p-2 items-center">
           
            <nav class="flex gap-2">
                <a class="hover:text-blue-500 font tracking-tight" href="./cards">
                    Cards
                </a>
            </nav>

        </header>
        
    </div>
</body>
</html>