<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Mastery</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>
<body>
    <div class="container antialiased mx-auto">

        <header class="flex border-b p-2 items-center">
           
            <nav class="flex gap-2">
                <a class="hover:text-blue-500 tracking-tight" href="../../">
                    Home
                </a>
                <span>/</span>
                <a class="hover:text-blue-500 tracking-tight" href="../">
                    Components
                </a>
                <span>/</span>
                <a class="text-blue-500 font-medium tracking-tight" href="./">
                    Cards
                </a>
            </nav>

        </header>
        
        <main class="flex flex-col p-2 gap-2">
            <h1 class="text-2xl">
                Cards List
            </h1>

            <h2><a href="./product-preview/" class="hover:text-blue-500">
                Products Preview Component
            </a></h2>
            <h2><a href="./qr-code/" class="hover:text-blue-500">
                QR Code Card Component
            </a></h2>
            <h2><a href="./nft-card/" class="hover:text-blue-500">
                NFT Card Component
            </a></h2>
            <h2><a href="./order-summary/" class="hover:text-blue-500">
                Order Summary Component
            </a></h2>
            <h2><a href="./stats-preview/" class="hover:text-blue-500">
                Stats Preview Card Component
            </a></h2>
            <h2><a href="./three-column-preview/" class="hover:text-blue-500">
                Three Column Preview Card Component
            </a></h2>
            <h2><a href="./profile-card/" class="hover:text-blue-500">
                Profile Card Component
            </a></h2>
        </main>
        
    </div>
</body>
</html>